html {
	box-sizing: border-box;
  font-family: "Georgia"
  line-height: 2;
}

*, *::before, *::after {
	box-sizing: inherit;
}

header {
 background-color: #ffe500;
 padding: 0px 0px 10px;
}

h1 {
 margin: 0;
 text-align:center;
 color: #b20953;
 font-family: "Sigmar One", cursive;
 font-size: 3em;
}

.nav {
  margin: 0;
  padding: 0px;
  list-style-type: none;
  text-align: center;
  font-family: georgia;
}

.nav li{
  display: inline-block;
}

.nav a {
  color: #fff;
  display: inline-block;
  padding: 0.5em 0.75em;
  background-color: #b2a212;
  border-radius: 4px;
  text-decoration: none;
}

.nav .current {
  background-color: #b20953;
}

h2 {
  color: #b20953;
  font-family: "Sigmar One", cursive;
  font-size: 1.8em;
  margin: 10px;
}

p {
  font-family: georgia;
  line-height: 1.5em;
  margin: 10px;
}

footer {
  background-color: #ffe500;
  text-align: center;
  font-size: .8em;
  padding: 15px;
}

body {
  margin: 0;
}

img{
  padding: 10px;
  width: 100%;
}
